* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}


p {font-size: 1.25em;}
figcaption, label, input, small, textarea, ::placeholder  {font-size: 1em;}

nav {
    background: #007d7b;
    width: 100%;
    text-align: center;
    justify-content: center;
}
nav ul {
    height: 80px;
    max-width:40% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-transform: uppercase;
    list-style: none;
}
nav a {
    font-size: 1.5em;
    text-decoration: none;
    margin: .2em;
    color: #fff;
}

h1 {
    color:#007d7b;
    font-size: 3em;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
}

section {
    padding: 1em;
    background-color: #fff;
}



h2 {
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
}


.gallery {
    display: grid;
    gap: 10px;
    align-items: center;
    margin: 0.5em 0;
    text-transform: uppercase;
    
}

.gallery figure {
    position: relative;

}

figcaption   {
    position: absolute;
    width: 100%;
    padding: 1em;
    color: #fff;
    text-align: center;
}

.top  {
    top: 0;
}
.bottom {
    bottom: 0;
}   

.black {
    color: #000;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;  
}

#contact {
    background: #000;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 80%;
    margin: auto;
    text-transform: uppercase;
}



input,
textarea {
    width: 100%;
    height: 5em;
    margin-bottom: 1.5em;
}


::placeholder {
    text-transform: uppercase;
    color: #007d7b;
    font-weight: bold;
    padding-left: .5em;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}


input{
    height: 2em;
}

input[type="submit"] {
    color: #fff;
    border-radius: .5em;
    background: #007d7b;
    margin: auto;
    width: 60%;
}

footer {
   color:#ffffff;
   text-transform: uppercase;
   margin: 1em auto;
   text-align: center;
}
  
@media (max-width: 485px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  body {
    padding: 0;
  }
}
  
@media (min-width: 486px) and (max-width: 880px) {
    body {
        padding: 0 10%;
   }
    h1 {
      text-align: left;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  
}
  
@media (min-width: 881px) {
  body {
       padding: 0 10%;
  }
  h1 {
      text-align: left;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  nav ul {
    margin: 0 20px 0 auto;
  }
}
  
